h2{font-family: "微软雅黑";font-size: 20px;color: #686868;text-align: center;}
h4{font-family: 'Arial';font-size: 12px;color: #a9a8a8;text-align: center;}
b{color: #22a3d3;}
p{text-indent: 2em;}
.bg{background-image: url(images/pre.gif);background-repeat: no-repeat;background-size: 100%;}