	a.lan:link{color: #65a7d0;font-family: "微软雅黑";font-size: 16px;font-weight: 700;}
	th.no1{background-image: url(images/bg.gif);background-size: 100%;}
	table.no2{background-image: url(images/banner.jpg);background-size: 100%;}