a.cai:link{font-size: 14px;background-image: url(images/menulist.gif);}
a.cai:hover{color: #b9f605;text-decoration: none;background-image: url(images/menuhover.gif);}
.gai{background-image: url(images/menutitle.gif);background-repeat: no-repeat;background-size: 100%;}
.pag{background-image: url(images/pagebg.gif);background-repeat: no-repeat;background-size: 100%;}
.pag1{background-image: url(images/pagebg_1.gif);background-repeat: no-repeat;background-size: 100%;}
.pag2{background-image: url(images/pre.gif);background-repeat: no-repeat;background-size: 100%;}
.bg{background-image: url(images/pre.gif);background-repeat: no-repeat;background-size: 100%;}